<h2 class="restaurant-title"><%=restaurant.name%></h2>
<p class="restaurant-breakdown">Cuisine: <%=restaurant.cuisine%></p>
<p class="restaurant-breakdown">Located At: <%=restaurant.address%>, <%=restaurant.city%>, <%=restaurant.state%> <%=restaurant.zip%></p>